/* css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* global css */
:root {
    --primary-color: #A16D28;
    --secondary-color: #EAA64D;
    --titre-color: #0D5EA6;
    --text-color: #333;
    --background-color: #0D5EA6;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* Header */
header .barre {
    height: 40px;
    align-items: center;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 0;
}
strong{
    color: var(--text-color);
}
/* nav */
header nav{
    font-weight: bold;
}
header nav .container .logo {
    position: relative;
}
header nav .container .logo a{
    font-size: 2rem;
    font-weight: bold;
    color: var(--titre-color);
}
.navbar-nav li a{
    color: red;
}
/* header nav .container ul li a{
    color: var(--text-color);
} */
header nav .container .logo a::after{
    content: "";
    position: absolute;
    /* height: 10px; */
    border: 5px solid var(--secondary-color);
    border-radius: 20px;
    bottom: 0;
    left: -1;
}
 header .container .btn{
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
 }
 header .container .btn:hover , .hero .container .btn:hover{
    background-color: var(--primary-color);
 }
 /* main Hero */
 section{
    padding: 40px 0;
 }
.hero .container .row .col-md-6 img{
    height: 400px;
    background-size: cover;
}
.hero .container .row .col-md-6 h1{
    color: var(--secondary-color);
     font-size: 40px;
     font-weight: bold;
}
.hero .container .row .col-md-6 p{
    font-size: 20px;
    color: rgb(119, 118, 118);
}
.hero .container .btn{
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
 }
 /* a propos */
 .a-propos .container .titre .col h2 , 
 .service .container  .col h2{
    position: relative;
    color: var(--titre-color);
    font-size: 40px;
    font-weight: bold;
 }
  .a-propos .container .titre .col h2::after , 
  .service .container  .col h2::after{
    position: absolute;
    content: "";
    width: 100px;
    border: 3px solid var(--secondary-color);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
 }
 .a-propos .container .titre .col p{
    color: rgb(119, 118, 118);
    font-size: 20px;
 }
  .a-propos .container .info .col {
    background-color:#eaa64d6e;
    padding: 20px;
    border-radius: 10px;
    z-index: 0;
  }
  .a-propos .container .info .col h2{
    color: var(--text-color);
    font-size: 20px;
    font-weight: bold;
  }
  .a-propos .container .info .col p{
    color: #fff;
    font-size: 20px;
  }
  .a-propos .container .info .col_blue{
    background-color: #0d5fa666;
  }
/* Service */
.service .container .service_info .col-lg-4 {
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(119, 118, 118, 0.142);
}
.service .container .service_info .col-lg-4 h1 strong{
    font-size: 25px;
    font-weight: bold;
    color: var(--secondary-color);
}
.service .container .service_info .col-lg-4 p{
    font-size: 17px;
    color: rgb(119, 118, 118);
}

